:root {
  --black: #020202;
  --white: #ffffff;
  --blue: #00425c;
  --cyan: #17a2b8;
}

body {
  background-color: var(--cyan);
}

h1 {
  text-align: center;
}

.donut-chart {
  border-radius: 0.8rem;
  background-color: var(--white);
}

.character-card {
  padding: 2px;
  margin: 1px;
  align-items: center;
  flex-basis: 20%;
  font-weight: bold;
  text-align: center;
}
.character-card:hover {
  background-color: purple;
  color: white;
}

.character-image {
  height: 150px;
  width: 150px;
  justify-content: center;
  align-items: center;
}
.character-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
